<div class="container">
    <header>
        <div class="row first-row">
            <div class="col-xs-2">
                <select class="form-control" name="options" id="options" (change)="getValue($event)">
                    <option 
                        value="income" 
                        (click)="getValue($event)">Income</option>
                    <option value="expense">Expense</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-2">
                <label [innerHTML]="numberLabel" for="number"></label>
                <input class="form-control" type="number" id="number">
            </div>
            <div class="col-xs-4">
                <label [innerHTML]="nameLabel" for="name"></label>
                <input class="form-control" type="text" id="name">
            </div>
            <div class="col-xs-2">
                <br>
                <button class="btn btn-primary add-btn">Add</button>
            </div>
        </div>
    </header>

    <body>
        <div class="container body">
            <div class="row inc-exp-div">
                <div class="col-xs-6 income-div">
                    <h4>Income</h4>
                </div>
                <div class="col-xs-6 expense-div">
                    <h4>Expenses</h4>
                </div>
            </div>
            <hr>
            <div class="row total-budget-div">
                <h4 class="budget">Total Budget:</h4>
            </div>
        </div>
    </body>
    
</div>